{% extends 'base.html.twig' %}

{% block title %}Account settings{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">Add profile picture</h2>
            {% if app.user.profilePicture %}
                <img src="{{ image(app.user.profilePicture | imageLink).resize(200).guess() }}"
                     class="rounded float-left" alt="{{ app.user.profilePicture.originalName }}">
                <form action="{{ path('account.deleteProfilePic') }}" method="post" onsubmit="showLoader()">
                    <input type="hidden" name="token" value="{{ csrf_token('deleteProfilePicture') }}"/>
                    <button type="submit" class="btn btn-danger d-block">Delete Profile picture</button>
                </form>
            {% endif %}
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">Change password</h2>

            <form method="post" action="{{ path('account.changePw') }}">
                <div class="form-group">
                    <label for="exampleInputPassword1">Old password</label>
                    <input type="password" class="form-control" name="oldPassword" id="exampleInputPassword1"
                           placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">New password</label>
                    <input type="password" class="form-control" name="newPassword" id="exampleInputPassword2"
                           placeholder="Password">
                    <input type="hidden" name="csfr_token" value="{{ csrf_token('change_pw') }}"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
