{% macro noToken() %}
    <p>
        For generating authentication token for Dropbox go <a href="https://www.dropbox.com/developers/apps"
                                                              target="_blank">here</a><br>

    </p>
    <form method="post" action="{{ path('dropbox.newToken') }}">
        <div class="form-group">
            <input class="form-control" type="text" name="token" required placeholder="New Dropbox token">
        </div>
        <input type="hidden" name="csfr_token" value="{{ csrf_token('newToken') }}"/>
        <button type="submit" class="btn btn-primary" name="update" value="true">Save</button>
    </form>
{% endmacro %}

{% macro okToken(backupList) %}
    <h4>New backup</h4>
    <form method="post" action="{{ path('dropbox.newSave') }}">
        <div class="form-group">
            <input class="form-control" type="text" name="backupName" required placeholder="New Backup name">
        </div>
        <input type="hidden" name="csfr_token" value="{{ csrf_token('newSave') }}"/>
        <button type="submit" class="btn btn-primary" name="update" value="true">Save</button>
    </form>
    <form method="post" action="{{ path('dropbox.autoBackup') }}">
        {% if app.user.autosync %}
            <button class="btn btn-danger" name="autoBackupActive" value="0">Deactivate AutoBackups</button>
        {% else %}
            <button class="btn btn-success" name="autoBackupActive" value="1">Activate AutoBackups</button>
        {% endif %}
        <input type="hidden" name="_token" value="{{ csrf_token('autoBackup') }}"/>
    </form>
    <h5>My backups:</h5>
    <ul class="list-group">
        <form method="post" action="{{ path('dropbox.activateBackup') }}">
            {% for backup in backupList %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary" name="backup" value="{{ backup }}">Activate</button>
                    {{ backup }}
                    {% if(app.user.backupName == backup) %}
                        <span class="badge badge-primary badge-pill">Active</span>
                    {% else %}
                        <span></span>
                    {% endif %}
                </li>
            {% endfor %}
            <input type="hidden" name="csfr_token" value="{{ csrf_token('activateBackup') }}"/>
        </form>
    </ul>
{% endmacro %}

{% macro badToken(path, name) %}
    <p class="alert alert-danger">Dropbox authentication token not working.</p>
    <form method="post" action="{{ path('dropbox.deleteToken') }}"
          onsubmit="return confirm('Are you sure you want to delete Dropbox authentication token?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('deleteToken') }}">
        <button class="btn btn-danger">Delete token</button>
    </form>
{% endmacro %}
