{% extends 'base.html.twig' %}
{% import "resources_settings/dropbox.html.twig" as dropboxMacro %}

{% block title %}Resources settings{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">Cache memory</h2>

            <p>Image cache: {{ imageCacheSize | bytes }}</p>
            <p>Website cache: {{ cacheSize | bytes }}</p>
            <p>Images space usage: {{ imagesSize | bytes }}</p>
            <p>Database size: {{ databaseSize | bytes }}</p>

            <form method="post" action="{{ path('resources.clear') }}" onsubmit="showLoader()">
                <input type="hidden" name="csfr_token" value="{{ csrf_token('clear_cache') }}"/>
                <button type="submit" class="btn btn-primary" name="clear_web" value="true">Clear website cache</button>
                <button type="submit" class="btn btn-primary" name="clear_img" value="true">Clear image cache</button>
            </form>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">Homepage version</h2>

            <p>version: {{ appVersion }}</p>

            <form method="post" action="{{ path('resources.update') }}" onsubmit="showLoader()">
                <input type="hidden" name="csfr_token" value="{{ csrf_token('update') }}"/>
                <button type="submit" class="btn btn-primary" name="update" value="true">Update Homepage</button>
            </form>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">Dropbox backup</h2>
            {% if(dropbox == null) %}
                {{ dropboxMacro.noToken() }}
            {% elseif(dropboxOk) %}
                <form method="post" action="{{ path('dropbox.deleteToken') }}"
                      onsubmit="return confirm('Are you sure you want to delete Dropbox authentication token?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('deleteToken') }}">
                    <button class="btn d-inline btn-danger">Delete token</button>
                </form>
                {{ dropboxMacro.okToken(dropbox.backups) }}
            {% else %}
                {{ dropboxMacro.badToken() }}
            {% endif %}
        </div>
    </div>
{% endblock %}
