{% extends 'base.html.twig' %}

{% block title %}Import Website{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">Import Website</h2>

            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
