{% extends 'base.html.twig' %}

{% block title %}Usage Statistics{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h2 id="month" class="h2">This month all websites</h2>
            {% if not noData %}
                <button onclick="lastMonth()" class="btn btn-primary"><i class="fas fa-arrow-left"></i></button>
                <button onclick="nextMonth()" class="btn btn-primary float-right"><i class="fas fa-arrow-right"></i>
                </button>
                <div id="visits_chart" style="width: 100%; height: 500px"></div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    No data found
                </div>
            {% endif %}
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h2 class="h2">Most visited websites</h2>
            {% if not noData %}
                <div id="top_sites" style="width: 100%; height: 500px"></div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    No data found
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container mb-5">
        <form method="post" action="{{ path('statistics.delete') }}"
              onsubmit="return confirm('Are you sure you want to delete your website history?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
            <button class="btn btn-danger w-100">Delete all history data</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var month = 0;
        $(document).ready(visitChart());

        function nextMonth() {
            month++;
            showLoader();
            $('#month').html("Month " + month + " of all websites");
            visitChart();
        }

        function lastMonth() {
            month--;
            showLoader();
            $('#month').html("Month " + month + " of all websites");
            visitChart();
        }

        function visitChart() {
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(visits);
        }

        function visits() {
            var jsonData = [];
            $.ajax({
                url: "{{ path('statistics.timeUsageData') }}",
                dataType: "json",
                data: {"month": month},
                type: "GET",
                async: false,
                success: function (data) {
                    jsonData = data;
                    hideLoader();
                },
            }).responseURL;
            console.log(jsonData);

            var data = google.visualization.arrayToDataTable(jsonData);

            var options = {
                title: 'Usages per day of month',
                lineType: 'function',
                legend: {position: 'bottom'},
                vAxis: {format: '0'},
            };

            var chart = new google.visualization.LineChart(document.getElementById('visits_chart'));

            chart.draw(data, options);
        }

        google.charts.load("current", {packages: ['corechart']});
        google.charts.setOnLoadCallback(sites);

        function sites() {
            var data = google.visualization.arrayToDataTable({{ siteUsageData|raw }});

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                }, 2]);

            var options = {
                title: "Top 10 visited websites",
                legend: {position: 'none'},
                vAxis: {
                    format: '#\'%\''
                }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("top_sites"));
            chart.draw(view, options);
        }
    </script>
{% endblock %}
