
{% macro link(id, name) %}

    <form method="post" action="{{ path('link_delete', {'id': id}) }}" onsubmit="return confirm('Are you sure you want to delete {{ name }}?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>
{% endmacro %}
