{% extends 'base.html.twig' %}
{% import "default/_delete_form_macro.html.twig" as delete %}

{% block body %}
    <div id="sortable" class="container-fluid icons-grid">
        {% for link in links %}
            <div id="item_{{ link.data.id }}" class="icon" style="opacity: {{ (link.data.xHidden)? 0.6 : 1 }}">
                <div class="background" style="background-color: {{ link.data.color }}; opacity: .85;"></div>
                <a class="image"
                   href="{{ path('links.index', {'id': link.data.id | urlencrypt}) }}"
                   style="background-image: url('{{ image(link.data.imageId | imageLink) }}')"
                   title="{{ link.data.url }}"></a>
                <div class="title">
                    <div class="clipboard options float-left far fa-clipboard"
                         data-name="{{ link.data.name }}"
                         data-clipboard-text="{{ link.data.url }}"></div>
                    <span>{{ link.data.name }}</span>
                    <div id="edit_{{ link.data.id }}" class="options float-right fas fa-ellipsis-v"></div>
                </div>
            </div>
        {% endfor %}

        <a class="icon ui-state-disabled" id="addNewSite">
            <div class="background"></div>
            <div class="image"
                 style="background-image: url('{{ asset('assets/img/iconfinder_icons_add_1564491.png') }}')"></div>
            <span class="title">Add New Site</span>
        </a>
    </div>
    <div class="form-container">
        <div id="newSiteForm" class="new-site-form card-body {{ not form.vars.valid ? "show" }}">
            <div class="close-btt fas fa-times bg-danger" id="close"></div>
            <h3 class="h3">Add New Site</h3>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
        {% for link in links %}
            <div id="editForm_{{ link.data.id }}" class="edit-form card-body {{ not link.form.vars.valid ? "show" }}">
                <div class="close-btt fas fa-times bg-danger"></div>
                <h3 class="h3">{{ link.data.name }}</h3>
                {{ form_start(link.form) }}
                {{ form_end(link.form) }}
                <a class="btn btn-primary float-right mr-3"
                   href="{{ path('export.generate', {'id': link.data.id | urlencrypt}) }}">Export Website</a>
                {{ delete.link(link.data.id, link.data.name) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $(document).ready(function () {
            $("#addNewSite").click(function () {
                $("#newSiteForm").addClass("show");
            });
            $("#close").click(function () {
                $("#newSiteForm").removeClass("show");
            });
        });

        {% for link in links %}
        $(document).ready(function () {
            $("#edit_{{ link.data.id }}").click(function () {
                $("#editForm_{{ link.data.id }}").addClass("show");
            });
            $(".close-btt").click(function () {
                $("#editForm_{{ link.data.id }}").removeClass("show");
            });
        });
        {% endfor %}

        $(function () {
            $("#sortable").sortable({
                cancel: ".ui-state-disabled",
                scrollSensitivity: 100,
                opacity: 0.6,
                cursor: 'move',
                tolerance: 'pointer',
                revert: 100,
                update: function (event, ui) {
                    var data = $(this).sortable('serialize');

                    $.ajax({
                        data: data,
                        type: 'POST',
                        url: '{{ path('sort_links') }}'
                    });
                }
            });
            $("#sortable").disableSelection();
        });

        var clipboard = new ClipboardJS('.clipboard');

        clipboard.on('success', function (e) {
            console.log(e);
            let alert = $("#flashes").append(
                "<div class=\"alert alert-success alert-dismissible fade show\" role=\"alert\">\n" +
                "   Link " + e.trigger.getAttribute('data-name') + " copied to clipboard\n" +
                "   <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                "       <span aria-hidden=\"true\">&times;</span>\n" +
                "   </button>\n" +
                "</div>");

            autoDissmiss();
        });

        clipboard.on('error', function (e) {
            console.log(e);
        });
    </script>
{% endblock %}
