{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-responsive bg-light p-4">
            <table id="searchWebsites" class="display table" style="width:100%">
                <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column | humanize }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#searchWebsites').DataTable({
            serverSide: true,
            processing: true,
            ajax: {
                url: '{{ path('shop.datatables') }}',
                type: 'POST'
            },
            columns: [
                {% for column in columns %}
                {"data": "{{ column }}"},
                {% endfor %}
                {
                    "data": "actions",
                    "orderable": false,
                },
            ],
            columnDefs: [
                {
                    "targets": 3,
                    "data": "name",
                    "render": function (data, type, full, meta) {
                        return '<div class="btn-group" role="group" aria-label="Basic example">\n' +
                            '  <a href="' + data.add + '" class="btn btn-secondary">Add</a>\n' +
                            '  <a href="' + data.download + '" class="btn btn-secondary">Download</a>\n</div>';
                    }
                },
                {
                    "targets": 2,
                    "data": "name",
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        return '<img class="img-thumbnail rounded" style="background-color: ' + data.color + '" src="' + data.file + '" alt="">';
                    }
                }
            ]
        });
    </script>
{% endblock %}
