$icon-width: 180px;
$icon-height: 180px;
$background-color: rgba(0, 0, 0, 0.85);
$primary: #2a9fd6;

html,
body {
  height: 100%;

  .background-image {
    width: 100%;
    height: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: -10;
  }

  .dataTable {
    .selected {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  .loaderAnimation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

    .loader {
      position: relative;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-gap: 2px;
      width: 100px;
      height: 100px;

      > div {
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        transform: scale(0.0);
        transform-origin: center center;
        animation: loader 2s infinite linear;

        &:nth-of-type(7) {
        }

        &:nth-of-type(1),
        &:nth-of-type(5),
        &:nth-of-type(9) {
          animation-delay: 0.4s;
        }

        &:nth-of-type(4),
        &:nth-of-type(8) {
          animation-delay: 0.2s;
        }

        &:nth-of-type(2),
        &:nth-of-type(6) {
          animation-delay: 0.6s;
        }

        &:nth-of-type(3) {
          animation-delay: 0.8s;
        }
      }
    }

    @keyframes loader {
      0% {
        transform: scale(0.0);
      }
      40% {
        transform: scale(1.0);
      }
      80% {
        transform: scale(1.0);
      }
      100% {
        transform: scale(0.0);
      }
    }
  }

  .loaderShow {
    display: flex !important;
    pointer-events: all;

    .refresh-button {
      color: #fff;
      margin-top: 130px;
      font-size: 18px;
      cursor: pointer;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .profilePic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: -15px 0 -18px;
    background-size: cover;
    background-position: center;
    display: inline-block;
  }

  .icons-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;

    .icon {
      width: $icon-width;
      height: $icon-height;
      margin: 15px;
      text-decoration: none;

      .background {
        width: $icon-width;
        height: $icon-height;
        background-color: $background-color;
        position: absolute;
        z-index: -1;
        border-radius: 20px;
        transition: .25s;
      }

      .image {
        width: $icon-width;
        height: $icon-height;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;
        position: absolute;
        cursor: pointer;
      }

      .title {
        top: $icon-height - 25px;
        position: relative;
        display: block;
        width: $icon-width;
        padding: 0 5px;
        text-align: center;
        color: #ffffff;
        transition: .25s;
        opacity: 0;

        span {
          text-decoration: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: $icon-width - 61px;
          display: inline-block;
        }
      }

      .options {
        height: 20px;
        width: 20px;
        padding-top: 3px;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
      }

      .options:hover {
        background-color: #fff;
        color: $background-color;
      }
    }

    .icon:hover {
      height: $icon-height + 30px;
      margin-bottom: -30px;

      .background {
        height: $icon-height + 30px;
      }

      .title {
        top: $icon-height + 5px;
        opacity: 1;
      }
    }
  }

  .quickSearch {
    ul {
      display: block;
      position: absolute;
      list-style: none;
      padding: 0;
      background: $background-color;
      z-index: 1;

      li {
        a {
          color: #999999;
          display: block;
          padding: 5px 10px;

          img {
            margin: -5px auto;
            max-height: 25px;
            max-width: 25px;
          }
        }

        a:hover {
          text-decoration: none;
          color: #fff;
          width: 100%;
          height: 100%;
          background-color: $primary;
        }
      }
    }
  }

  .form-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;

    .new-site-form,
    .edit-form {
      width: 100%;
      max-width: 512px;
      background: $background-color;
      pointer-events: all;
      display: none;

      .close-btt {
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 19px;
        font-size: 28px;
        border-radius: 0 0 0 100%;
        cursor: pointer;
        color: #ffffff;
        width: 45px;
        height: 45px;
      }
    }

    .show {
      transform: scaleY(1);
      display: block;
    }
  }
}
