{% extends 'layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/all.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/datatables.min.css') }}" crossorigin="anonymous"/>
    <link type="text/css" href="{{ asset('assets/css/dataTables.checkboxes.css') }}" rel="stylesheet"/>
{% endblock %}

{% block nav %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-1.12.4.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/clipboard.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/dataTables.select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/dataTables.checkboxes.min.js') }}"></script>

    <script>
        {% if not app.user %}
        $(document).ready(function () {
            startTime();
            autoDissmiss();
        });
        {% endif %}

        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i
            }  // add zero in front of numbers < 10
            return i;
        }

        function autoDissmiss() {
            console.log();
            setTimeout(function () {
                $('.alert-dismissible').alert('close');
            }, 5000);
        }

        function showLoader() {
            $('.loaderAnimation').addClass('loaderShow');
            setTimeout(function () {
                $('.loaderAnimation').append('<a class="position-absolute refresh-button" onclick="history.go(0);">Reload page</a>')
            }, 15000);
        }

        function hideLoader() {
            $('.loaderAnimation').removeClass('loaderShow');
        }

        function quickSearchLi(link, imageLink, alt, name, color) {
            return "<li>\n" +
                "<a href=\"" + link + "\">\n" +
                "<img style='background-color: " + color + "' src=\"" + imageLink + "\" alt=\"" + alt + "\">\n" +
                "" + name + "\n" +
                "</a>\n" +
                "</li>";
        }

        $(document).ready(function () {
            $("#quickSearch").on("input", function () {
                $('#quickSearchList').empty();

                if (this.value.length > 0) {
                    $('#quickSearchList').append('' +
                        '<li style="margin: 5px 10px;">\n' +
                        '    Loading...' +
                        '</li>');

                    var request = null;
                    request = $.ajax({
                        data: {
                            search: this.value,
                        },
                        type: 'post',
                        url: '{{ path('links.quickSearch') }}',
                        beforeSend: function () {
                            if (request != null) {
                                request.abort();
                            }
                        },
                        success: function (data) {
                            $('#quickSearchList').empty();
                            console.log(data);
                            $.each(data, function (idx, obj) {
                                $('#quickSearchList').append(quickSearchLi(obj.url, obj.img, obj.alt, obj.name, obj.color));
                            });
                        },
                        error: function (request, error) {
                            $('#quickSearchList').empty();
                            console.log(error);
                            $('#quickSearchList').append('' +
                                '<li style="margin: 5px 10px;">\n' +
                                '    ' + error +
                                '</li>');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
