<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ asset('assets/favicon.ico') }}" rel="icon" type="image/x-icon"/>

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="loaderAnimation">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
{% if(not app.user) %}
    <div class="background-image"
         style="background-image: url('{{ image('assets/img/643030_8k-abstract-wallpaper.jpg').resize(1920).guess() }}');"></div>
{% elseif(randomWallpaper(app.user) == null) %}
    <div class="background-image"
         style="background-image: url('{{ image('assets/img/643030_8k-abstract-wallpaper.jpg').resize(1920).guess() }}');"></div>
{% else %}
    {% set imageFile = randomWallpaper(app.user).imageId | imageLink %}
    <div class="background-image"
         style="background-image: url('{{ image(imageFile).height > 1920? image(imageFile).resize(1920).guess() : image(imageFile).guess() }}');"></div>
{% endif %}

{% block nav %}{% endblock %}

<div id="flashes" class="mb-5 mr-5 fixed-bottom" style="left: auto">
    {% for label, messages in app.flashes(['danger', 'success', 'primary', 'secondary', 'warning', 'info', 'light', 'dark']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
