<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('homepage') }}">Homepage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if(app.user) %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Backup
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('export.import') }}">Import website</a>
                        <a class="dropdown-item" href="{{ path('export.generateAll') }}">Export all</a>
                        {#                        <div class="dropdown-divider"></div>#}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('statistics.index') }}">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('shop.index') }}">Shop</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('sort_all', {'sort': 'name', 'dir': 'asc'}) }}">Sort by
                            Name <i class="fas fa-arrow-up"></i></a>
                        <a class="dropdown-item" href="{{ path('sort_all', {'sort': 'name', 'dir': 'desc'}) }}">Sort by
                            Name <i class="fas fa-arrow-down"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('sort_all', {'sort': 'date', 'dir': 'asc'}) }}">Sort by
                            Date <i class="fas fa-arrow-up"></i></a>
                        <a class="dropdown-item" href="{{ path('sort_all', {'sort': 'date', 'dir': 'desc'}) }}">Sort by
                            Date <i class="fas fa-arrow-down"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('sort_all', {'sort': 'usage', 'dir': 'asc'}) }}">Sort by
                            Usage <i class="fas fa-arrow-up"></i></a>
                        <a class="dropdown-item" href="{{ path('sort_all', {'sort': 'usage', 'dir': 'desc'}) }}">Sort by
                            Usage <i class="fas fa-arrow-down"></i></a>
                        {#                        <div class="dropdown-divider"></div>#}
                    </div>
                </li>
                {% if app.user.backupName %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropbox
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <form method="post" action="{{ path('dropbox.pull') }}" onsubmit="showLoader()">
                                <input type="hidden" name="csfr_token" value="{{ csrf_token('dropboxPull') }}"/>
                                <button type="submit" class="dropdown-item" name="pull" value="true">Pull backup
                                </button>
                            </form>
                            <form method="post" action="{{ path('dropbox.push') }}" onsubmit="showLoader()">
                                <input type="hidden" name="csfr_token" value="{{ csrf_token('dropboxPush') }}"/>
                                <button type="submit" class="dropdown-item" name="pull" value="true">Push backup
                                </button>
                            </form>
                            {#                        <a class="dropdown-item" href="{{ path('export.import') }}">Import website</a>#}
                            {#                        <div class="dropdown-divider"></div>#}
                        </div>
                    </li>
                {% endif %}
            {% endif %}
            {% if(app.user and 'ROLE_ADMIN' in app.user.roles) %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if (app.user) %}
                <div class="quickSearch">
                    <input type="search" name="quickSearch" placeholder="Search" id="quickSearch" autofocus
                           class="form-control">
                    <ul id="quickSearchList">
                    </ul>
                </div>
            {% else %}
                <span id="clock" class="navbar-brand mb-0 h1"></span>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if(app.user) %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if app.user.profilePicture %}
                            <div style="background-image: url('{{ image(app.user.profilePicture | imageLink).resize(100).guess() }}');"
                                 class="profilePic"></div>
                        {% else %}
                            {{ app.user.email }}
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('wallpaper.index') }}">Wallpaper settings</a>
                        <a class="dropdown-item" href="{{ path('account.index') }}">Account settings</a>
                        <a class="dropdown-item" href="{{ path('resources.index') }}">Resources settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('homepage', {'hidden': 'show_hidden'}) }}">Show
                            Hidden</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary my-0 my-sm-0" href="{{ path('app_login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
