{% extends 'base.html.twig' %}

{% block title %}Wallpaper settings{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">Wallpaper settings</h2>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container">
        <div class="table-responsive bg-light p-4">
            <form id="datatableWallpaper" action="{{ path('wallpaper.delete') }}" method="post" onsubmit="showLoader()">
                <input type="hidden" name="token" value="{{ csrf_token('delete-wallpaper') }}"/>
                <table id="searchWallpapers" class="display table" style="width:100%">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>image</th>
                        <th>date</th>
                    </tr>
                    </thead>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            var dataTable = $('#searchWallpapers').DataTable({
                serverSide: true,
                processing: true,
                dom: 'Blfrtip',
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
                ],
                buttons: [
                    {
                        text: 'Delete selected',
                        className: 'btn btn-danger',
                        action: function (e, dt, node, config) {
                            $("#datatableWallpaper").submit();
                        }
                    }
                ],
                ajax: {
                    url: '{{ path('wallpaper.datatables') }}',
                    type: 'GET'
                },
                columns: [
                    {"data": "id"},
                    {"data": "image"},
                    {"data": "date"},
                ],
                select: {
                    style: 'multi',
                },
                order: [[2, 'desc']],
                columnDefs: [
                    {
                        'targets': 0,
                        'checkboxes': {
                            'selectRow': true
                        },
                    },
                    {
                        targets: 1,
                        data: "image",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return '<img class="img-thumbnail rounded" src="/' + data + '" alt="">';
                        }
                    }
                ]
            });

            $('#datatableWallpaper').on('submit', function (e) {
                var form = this;

                var rows_selected = dataTable.column(0).checkboxes.selected();

                // Iterate over all selected checkboxes
                $.each(rows_selected, function (index, rowId) {
                    // Create a hidden element
                    $(form).append(
                        $('<input>')
                            .attr('type', 'hidden')
                            .attr('name', 'id[]')
                            .val(rowId)
                    );
                });
            });
        });
    </script>
{% endblock %}
